.container {
  padding-top: 36px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    
    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 5px;
      height: 408px;
      width: 232px;
      border-radius: 8px;
      background: rgba(15, 23, 46, 0.8);

      .title {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      
        h4 {
          color: #FFFFFF;
          font-size: 14px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }
      }

      img {
        height: 350px;
        width: 230px;
        border-radius: 8px;
      }

      transition: filter 0.2s;
        &:hover {
        filter: brightness(1.2);
        }
    }
  }
}
